<%- include('dashboardheader')  %> 

      <div class="item item3 main">
        <div class="container services"> 
        <% if(msg != '') {%> 
         <h1 style="color: rgb(142, 230, 27);"> <%= msg %> </h1>  
        <% } %> 
                
        <h1>Services</h1>
        <ul>
          <li><a href="/musicclasses">Music Classes</a></li>
          <li><a href="/musicproduction">Music Production</a></li>
          <li><a href="/audiorecordyoursong">Audio Record Your Song</a></li>
          <li><a href="/videoshootyoursong">Video Shoot Your Song</a></li>
          <li><a href="/bookliveconcert">Book Live Concert</a></li>          
        </ul>
        
        </div>               
      </div> 
        
       
      <%- include('modal') %> 
<%- include('dashboardfooter') %> 